pkgbase = spark-store-tui
	pkgdesc = Native terminal UI for Spark Store software management
	pkgver = 0.8.0
	pkgrel = 1
	url = https://github.com/Xynrin/spark-store-tui
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = go
	depends = ca-certificates
	optdepends = chafa: terminal image previews
	optdepends = sudo: install and uninstall local packages as a non-root user
	source = https://github.com/Xynrin/spark-store-tui/releases/download/v0.8.0/spark-store-tui-source-0.8.0.tar.gz
	sha256sums = 55fa3bfa48d52f63ddb9d885cc4977e2a8439120aa95e90e25cc13cb856599da

pkgname = spark-store-tui
